
html/.DS_Store
.DS_Store
cards.xcworkspace/contents.xcworkspacedata
cards.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
cards.xcworkspace/xcuserdata/joshspear.xcuserdatad/UserInterfaceState.xcuserstate
